*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
}
main, section, figure, footer{
  display: block;
  width: 100%;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
button{
  border: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: normal;
  cursor: pointer;
}
/* ----------------------------------------------------------- */
.mainContent{
  /* outline: 1px solid red; */
  margin: 0 auto;
  height: 90vh;
  width: 90%;
}
/* ----------------------------------------------------------- */
.sectionContent{
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  /* justify-items: center; */
  /* justify-content: space-around; */
  /* width: 100%; */
  height: 100%;
}
/* ----------------------------------------------------------- */

/* IMAGES */
.figureContent{
  width: 30%;
}
/* ----------------------------------------------------------- */

/* INPUT */
.inputContent{
  /* outline: 1px solid red; */
  font-size: 16px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}

/* input */
.inputSearch{
  border: 1px solid #5a5a5a;
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 0 40px 0 40px;
  height: 3rem;
  width: 50%;
  /* overflow: auto; */
  /* z-index: 1; */
}

/* span */
/* .spanContent{
  outline: 1px solid red;
  width: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5px; */
  /* overflow: auto; */
  /* justify-content: space-between; */
/* } */
/* clas 1 */
.spanIconContent{
  /* outline: 1px solid red; */
  /* margin: 5px; */
  font-size: 25px;
  padding: 0 10px 0 10px;
  position: absolute;
}

/* clas 2 */
.icon-search{
  color: #666666;
  left: 25%;
  /* align-self: flex-start; */
}
.icon-micro{
  right: 27%;
  /* align-self: flex-end; */
}
.icon-cam{
  right: 25%;
}
.spanIconContent a{
  color: #666666;
}
/* ----------------------------------------------------------- */

/* BUTTONS */
.button-content{
  margin-top: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-{
  border: 1px solid white;
  /* border-radius: 20px; */
  height: 50px;
  width: 200px;
  transition: all 0.5s ease;
}
.btn-:hover{
  border: 1px solid #484848;
}
/* ----------------------------------------------------------- */

/* PRIVACY INFO */
.privacy-info{
  padding-top: 100px;
}
.privacy-info p a{
  color: #000;
  text-decoration: underline;
}
.privacy-info p a:hover{
  /* background-color: #0086f8; */
  color: #0086f8;
}

/* ----------------------------------------------------------- */

/* FOOTER */
.footerContent{
  /* outline: 1px solid red; */
  height: 10vh;
}

.footer-wrapper{
  height: 100%;
  background-color: #78787854;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}
.footer-wrapper p{
  padding-left: 5px;
  /* height: 45%; */
}
.copy-rights{
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 10px 0 10px; */
  /* margin: 0 5px 0 5px; */
}
.google-about{
  /* outline: 1px solid red; */
  margin: 0 5px 0 5px;
  /* width: 50%; */
}
.google-about a{
  color: #000;
  /* letter-spacing: -1.3px; */
}
.rights- a{
  margin-left: 12px;
}
.privacy- a{
  margin-right: 12px;
}
.google-about a:hover{
  text-decoration: underline;
}